<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 0;
    }

    th,
    td {
        padding: 8px 15px;
        text-align: left;
    }

    tr {
        border: 1px solid black;
    }

    .header {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        padding: 15px;
    }

    .subheader {
        font-weight: bold;
        background-color: #f2f2f2;
        padding: 10px 15px;
    }

    .nutrition-row {
        display: flex;
        justify-content: space-between;
    }

    .footnote {
        padding: 10px 15px;
        font-size: 14px;
    }
</style>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">โปรแกรมคำนวณฉลากโภชนาการ ฉลาก GDA</h4>

            </div><!-- end card header -->
            <div class="card-body form-steps">

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>end row


<!-- Static Backdrop -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="m_static" data-bs-target="#staticBackdrop"
    data-bs-backdrop="static" (click)="StaticModal(StaticDataModal)" hidden>
    Static Backdrop Modal
</button> -->
<!-- staticBackdrop Modal -->
<!-- <ng-template #StaticDataModal let-modal>
    <div class="modal-body text-center p-5">
        <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop"
            colors="primary:#121331,secondary:#08a88a" style="width:120px;height:120px"></lord-icon>
        <div class="mt-4">
            <app-custom-captcha></app-custom-captcha>
            <div class="hstack gap-2 justify-content-center" hidden>
                <a href="javascript:void(0);" id="c_modal" class="btn btn-link link-success fw-medium"
                    data-bs-dismiss="modal" (click)="modal.close('Close click')"><i
                        class="ri-close-line me-1 align-middle"></i> Close</a>
                <a href="javascript:void(0);" class="btn btn-success">Completed</a>
            </div>
        </div>
    </div>
</ng-template> -->