<section id="Content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">รายการคำของบลงทุน</h4>
                    <div class="flex-shrink-0">
                        <label for=" searchInput" class="form-label">ค้นหา :</label>
                    </div>
                    <div class="search-box d-inline-block mb-2">
                        <input type="text" class="form-control search" placeholder="Search..."
                            [(ngModel)]="service.searchTerm" (input)="onFilter(service.searchTerm)">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div><!-- end card header -->
                <div class="card-body">
                    <div style="height:15px"></div>
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-3 col-md-2 col-lg-1 text-sm-end">
                            <label for="departmentSelect" class="form-label">หน่วยงาน:</label>
                        </div>
                        <div class="col-12 col-sm-9 col-md-6 col-lg-7">
                            <ng-select [items]="List_Mas_Department" bindLabel="Department_Name"
                                bindValue="Department_Id" [(ngModel)]="Department_Id" [placeholder]="'เลือกหน่วยงาน'"
                                (change)="Choose_Data_By_Department()">
                                <ng-template ng-option-tmp let-s1="item">
                                    {{ s1.Department_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-12 col-md-4 text-end">
                            <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                data-bs-toggle="modal" data-bs-target="#exampleModalgrid"
                                (click)="btn_add_fullModal(fullDataModal, 0, old_Budget_Request)">
                                เพิ่มคำขอ
                            </button>
                        </div>
                    </div>

                    <div style="height:15px"></div>
                    <!-- <div class="row">

                        <div class="col-lg-12">
                            
                        </div>
                    </div> -->
                    <div class="table-responsive">
                        <table class="table table-gridjs">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th class="sort" (click)="onSort('Plan_Name')">แผนงาน
                                    </th>
                                    <th class="sort" (click)="onSort('Product_Name')">
                                        ผลผลิต
                                    </th>
                                    <th class="sort" (click)="onSort('Activity_Name')">
                                        กิจกรรม</th>
                                    <th class="sort" (click)="onSort('Budget_Type')" style="width: 5%;">
                                        หมวดงบ
                                    </th>
                                    <th class="sort" (click)="onSort('Expense_Type')" style="width: 10%;">
                                        หมวดค่าใช้จ่าย
                                    </th>
                                    <th class="sort" (click)="onSort('Expense_List')" style="width: 10%;">
                                        รายการค่าใช้จ่าย
                                    </th>
                                    <th class="sort" style="width: 7%;">
                                        งบประมาณ
                                    </th>
                                    <th style="text-align: center;">แก้ไข</th>
                                    <th style="text-align: center;">ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(data of filteredTranList; track $index){
                                <tr>
                                    <td style="text-align: center;">{{ $index + 1 }}</td>
                                    <td>
                                        <!-- [term]="service.Plan_Name" ไม่ต้องใช้ ไว้ใช้กับ ค้นหา มันใช้ไม่ได้ -->
                                        <ngb-highlight [result]="data.Plan_Name">{{data.Plan_Name}}</ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight
                                            [result]=" data.Product_Name">{{data.Product_Name}}</ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight
                                            [result]="data.Activity_Name">{{data.Activity_Name}}</ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.Budget_Type">{{data.Budget_Type}}</ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight
                                            [result]="data.Expense_Type">{{data.Expense_Type}}</ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight
                                            [result]="data.Expense_List">{{data.Expense_List}}</ngb-highlight>
                                    </td>
                                    <td>
                                        {{MasterService.show_fix(data.Total || 0)}}
                                    </td>
                                    <td>


                                        <button type="button" class="btn btn-ghost-warning waves-effect waves-light" data-bs-toggle="modal"
                                            data-bs-target="#Modal1"
                                            (click)="btn_add_fullModal(fullDataModal,data.Budget_Request.Request_Id, data.Budget_Request)">
                                            <i class="ri-edit-2-fill" style="color: orange;font-size: 20px;"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-ghost-danger waves-effect waves-light"
                                            (click)="btn_del_Budget_Req(data.Budget_Request.Request_Id)">
                                            <i class="ri-delete-bin-6-fill" style="color: orangered;font-size: 20px;"></i>
                                        </button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Showing
                                {{service.startIndex}} to
                                {{service.endIndex}} of {{service.totalRecords}}
                                entries
                            </div>
                        </div>
                        <!--Pagination-->
                        <div class="col-sm-12 col-md-5">
                            <div class="text-md-right float-md-end gridjs-pagination">
                                <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                    [pageSize]="service.pageSize">
                                </ngb-pagination>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #fullDataModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="Modal1">เพิ่มคำของบดำเนินงาน</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Close click')"></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <!-- <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">ตัวชี้วัด</h4>
                    <div class="flex-shrink-0">
                        <div class="form-check form-switch form-switch-right form-switch-md">
                        </div>
                    </div>
                </div> -->
                <!-- end card header -->
                <div class="card-body">
                    <div style="height:15px"></div>
                    <div class="row">
                        <div class="col-md-3">
                            
                            <label class="form-label">
                                แผนงาน <span class="text-danger">*</span>
                            </label>
                            <ng-select [items]="List_Mas_Plan" bindLabel="Plan_Name" bindValue="Plan_Id"
                                [(ngModel)]="Budget_Request.Fk_Plan_Id" [placeholder]="'กรุณาเลือก'"
                                (change)="choose_plan()">
                                <ng-template ng-option-tmp let-s1="item">
                                    {{ s1.Plan_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">
                                ผลผลิต <span class="text-danger">*</span>
                            </label>
                            <ng-select [items]="List_Mas_Product" bindLabel="Product_Name" bindValue="Product_Id"
                                [(ngModel)]="Budget_Request.Fk_Product_Id" [placeholder]="'กรุณาเลือก'"
                                (change)="choose_product()">
                                <ng-template ng-option-tmp let-s2="item">
                                    {{ s2.Product_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">
                                กิจกรรม <span class="text-danger">*</span>
                            </label>
                            <ng-select [items]="List_Mas_Activity" bindLabel="Activity_Name" bindValue="Activity_Id"
                                [(ngModel)]="Budget_Request.Fk_Activity_Id" [placeholder]="'กรุณาเลือก'"
                                (change)="choose_activity()">
                                <ng-template ng-option-tmp let-s3="item">
                                    {{ s3.Activity_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">
                                เป้าหมาย <span class="text-danger">*</span>
                            </label>
                            <div class="d-flex gap-2">
                                <input type="number" class="form-control" onkeypress="return isNumber(event);"
                                    [(ngModel)]="Budget_Request.Purpose_Name" placeholder="กรุณาจำนวนกรอกเป้าหมาย">
                                <ng-select [items]="List_Purpose_Unit" bindLabel="Unit_Name" bindValue="Unit_Id"
                                    [(ngModel)]="Budget_Request.Purpose_Unit_Id" [placeholder]="'กรุณาเลือก'"
                                    (change)="choose_purpost_unit()" class="flex-shrink-0" style="min-width: 120px;">
                                    <ng-template ng-option-tmp let-s4="item">
                                        {{ s4.Unit_Name}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="row">

                        <div class="col-md-3">
                            <label class="form-label">
                                กิจกรรมหลักหน่วยงาน
                            </label>
                            <ng-select [items]="List_Mas_Activity_Dep_Main" bindLabel="Activity_Name"
                                bindValue="Activity_Dep_Id" [(ngModel)]="Budget_Request.Activity_Dep_Id"
                                [placeholder]="'กรุณาเลือก'" (change)="choose_activity_dep_main()">
                                <ng-template ng-option-tmp let-s5="item">
                                    {{ s5.Activity_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">กิจกรรมรองหน่วยงาน</label>
                            <ng-select [items]="List_Mas_Activity_Dep_Second" bindLabel="Activity_Name"
                                bindValue="Activity_Dep_Second_Id" [(ngModel)]="Budget_Request.Activity_Dep_Second_Id"
                                [placeholder]="'กรุณาเลือก'" (change)="choose_activity_dep_second()">
                                <ng-template ng-option-tmp let-s6="item">
                                    {{ s6.Activity_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">กิจกรรมย่อย</label>
                            <ng-select [items]="List_Mas_Activity_Dep_Sub" bindLabel="Activity_Name"
                                bindValue="Activity_Dep_Sub_Id" [(ngModel)]="Budget_Request.Activity_Dep_Sub_Id"
                                [placeholder]="'กรุณาเลือก'" (change)="choose_activity_dep_sub()">
                                <ng-template ng-option-tmp let-s7="item">
                                    {{ s7.Activity_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <br>  
                            <label class="form-label">หมวดงบ : </label>
                            {{Budget_Request.Budget_Type}}
                        </div>
                    </div>
                    <div style="height:15px"></div>
                    <div class="row">
                        <div class="col-md-3" *ngIf="Budget_Request.Request_Id === 0">
                            <label class="form-label">หมวดค่าใช้จ่าย</label>
                            <ng-select [items]="List_Mas_Expense_Type" bindLabel="Expense_Type_Name"
                                bindValue="Expense_Type_Id" [(ngModel)]="Budget_Request.Fk_Expense_Type"
                                [placeholder]="'กรุณาเลือก'" (change)="choose_Expense_Type()">
                                <ng-template ng-option-tmp let-s4="item">
                                    {{ s4.Expense_Type_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3" *ngIf="Budget_Request.Request_Id !== 0">
                            <br>
                            <label class="form-label">หมวดค่าใช้จ่าย : </label>
                            {{Budget_Request.Expense_Type}}
                        </div>
                        <div class="col-md-3" *ngIf="Budget_Request.Request_Id === 0">
                            <label class="form-label">รายการค่าใช้จ่าย</label>
                            <ng-select [items]="List_Mas_Expense_List" bindLabel="Expense_Name" bindValue="Expense_Id"
                                [(ngModel)]="Budget_Request.Fk_Expense_List" [placeholder]="'กรุณาเลือก'"
                                (change)="choose_form()">
                                <ng-template ng-option-tmp let-s4="item">
                                    {{ s4.Expense_Name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-3" *ngIf="Budget_Request.Request_Id !== 0">
                            <br>
                            <label class="form-label">รายการค่าใช้จ่าย : </label>
                            {{Budget_Request.Expense_List}}
                        </div>
                    </div>
                    <div style="height:15px"></div>
                    <div class="row" *ngIf="(Budget_Request.Total || 0) != 0">
                        <div class="col-1">
                            <h3>รวมทั้งสิ้น:</h3>
                        </div>
                        <div class="col-4">
                            <!-- <h3 style="color:red">{{calculatedTotal_Request}}</h3> -->
                            <h3 style="color:red">{{ calculatedTotal_Request }}</h3>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <!--ครุภัณฑ์-->
                    <!------------->
                    <!-- SubPage ครุภัณฑ์คอมพิวเตอร์ || ครุภัณฑ์ยานพาหนะและขนส่ง || ครุภัณฑ์โฆษณาและเผยแพร่ || ครุภัณฑ์งานบ้านงานครัว || ครุภัณฑ์ไฟฟ้าและวิทยุ || ครุภัณฑ์สำนักงาน || ครุภัณฑ์อื่นๆ || ครุภัณฑ์การแพทย์  || ครุภัณฑ์วิทยาศาสตร์ -->
                    <div *ngIf="formPartial == 'Articles_Form'">
                        <Articles_Form [Form_Name]="Form_Name"
                            [List_Budget_Request_Detail_Item]="List_Budget_Request_Detail_Item"
                            [List_Budget_Request_Detail_Upload_File]="List_Budget_Request_Detail_Upload_File"
                            [List_Mas_Expense_Material_List]="List_Mas_Expense_Material_List"
                            [List_Mas_Unit]="List_Mas_Unit"
                            [List_Mas_Month]="List_Mas_Month"
                            (uploadedFilesChange1)="onUploadFileChange1($event)"
                            (uploadedFilesChange2)="onUploadFileChange2($event)"
                            (calculatedTotalChange)="onCalculatedTotalChange($event)"
                            [calculatedTotal_Front]="calculatedTotal_Front">
                        </Articles_Form>
                    </div>
                    <!-- ค่าที่ดินและสิ่งก่อสร้าง -->
                     <!-- SubPage แผนความต้องการสิ่งก่อสร้าง -->
                      <div *ngIf="formPartial == 'Request_Buildings_Form'">
                        <Request_Buildings_Form [Form_Name]="Form_Name"
                            [List_Budget_Request_Detail_Item]="List_Budget_Request_Detail_Item"
                            [List_Mas_Expense_Material_List]="List_Mas_Expense_Material_List"
                            [List_Mas_Importance]="List_Mas_Importance"
                            (calculatedTotalChange)="onCalculatedTotalChange($event)"
                            [calculatedTotal_Front]="calculatedTotal_Front"
                            [Bgyear]="Bgyear">
                            
                        </Request_Buildings_Form>
                    </div>
                    <!-- ค่าที่ดินและสิ่งก่อสร้าง -->
                     <!-- SubPage รายการสิ่งก่อสร้าง -->
                      <div *ngIf="formPartial == 'Buildings_Form'">
                        <Buildings_Form [Form_Name]="Form_Name"
                            [List_Budget_Request_Detail_Item]="List_Budget_Request_Detail_Item"
                            [List_Budget_Request_Detail_Upload_File]="List_Budget_Request_Detail_Upload_File"
                            [List_Mas_Expense_Material_List]="List_Mas_Expense_Material_List"
                            [List_Mas_Importance]="List_Mas_Importance"
                            (calculatedTotalChange)="onCalculatedTotalChange($event)"
                            (uploadedFilesChange1)="onUploadFileChange1($event)"
                            [calculatedTotal_Front]="calculatedTotal_Front"
                            [Bgyear]="Bgyear">
                            
                        </Buildings_Form>
                    </div>
                    


                    <div *ngIf="formPartial == 'Other_Form'">
                        <!-- <other></other> -->
                    </div>
                    <!-- <div #dynamicContainer></div> -->
                    <!-- <Salary_Form></Salary_Form> --> <!--ดึงหน้ามาใช้ -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="btn_save()">บันทึก</button>
            <button type="button" class="btn btn-danger"><a href="javascript:void(0);" data-bs-dismiss="modal"
                    id="cdFullmodal" (click)="modal.close('Close click')"><i
                        class="ri-close-line me-1 align-middle"></i>
                    Close</a></button>
            <!-- <a href="javascript:void(0);"
                    class="btn btn-link link-success fw-medium" data-bs-dismiss="modal" id="cdFullmodal"
                    (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i>
                    Close</a> -->

        </div>
    </div><!-- /.modal-content -->
</ng-template><!-- /.modal-dialog -->