<section class="card card-content">
    <div style="height:15px"></div>
    <div class="row">
        <div class="col-md-12 text-left">
            <span style="font-size:14pt;font-weight:bold">
                {{Form_Name}}
            </span>
        </div>
    </div>
    <div style="height:15px"></div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                (click)="add_form_detail()">เพิ่มข้อมูล</button>
        </div>
    </div>
    <div style="height:15px"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table">
                <table class="table table-gridjs">
                    <thead>
                        <tr class="tr-center">
                            <th style="width: 5%;">ลำดับ</th>
                            <th style="width: 15%;">
                                หน่วยงาน
                            </th>
                            <th style="width: 15%;">
                                จำนวนคน
                            </th>
                            <th style="width: 10%;">
                                จำนวนเงิน/เดือน
                            </th>
                            <th>
                                จำนวนเงิน/ปี
                            </th>
                            <th style="width: 5%;">ลบ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(data of List_Budget_Request_Detail_Item; track $index){
                        <tr class="tr-center">
                            <td style="text-align: center;">
                                {{ $index + 1 }}
                            </td>
                            <td>
                                <ng-select [items]="List_Mas_Department" bindLabel="Department_Name"
                                    bindValue="Department_Id" [(ngModel)]="data.Department_Id"
                                    [placeholder]="'กรุณาเลือก'" (change)="choose_ddl_department(data)">
                                    <ng-template ng-option-tmp let-s1="item">
                                        {{ s1.Department_Name}}
                                    </ng-template>
                                </ng-select>
                            </td>
                            <td>
                                <input class="form-control" type="number" title="จำนวนคน" [(ngModel)]="data.People"
                                    onkeypress="return isNumber(event);" (keyup)="Cal_Salary_Amount($index)" />
                            </td>
                            <td>
                                <input class="form-control" type="number" title="จำนวนเงิน/เดือน"
                                    [(ngModel)]="data.Salary_Amount" onkeypress="return isNumber(event);"
                                    (keyup)="Cal_Salary_Amount($index)" />
                            </td>
                            <td>
                                <input class="form-control" type="number" title="จำนวนเงิน/ปี"
                                    placeholder="จำนวนคน x จำนวนเงิน/เดือน x 12" [(ngModel)]="data.Total" disabled />
                            </td>
                            <td>
                                <button type="button" class="btn btn-ghost-danger waves-effect waves-light" (click)="btn_del_Detail_item($index)">
                                    <i class="ri-delete-bin-6-fill" style="color: orangered;font-size: 20px;"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:right">รวม :</td>
                        <td style="text-align:center">
                            {{calculatedTotal }}
                            {{calculatedTotal_Front}}

                        </td>
                        <td></td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>